{% load staticfiles %}
<html>
<head>
    <title>Backup tool</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-theme.css" />
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js" %}"> </script>
    <script type="text/javascript" src="{% static "jquery/jquery-2.1.4.js" %}"> </script>
    <script type="text/javascript" src="{% static "string_tools.js" %}"> </script>
</head>

<body>
    <table>
        <tr>
            <th>Source</th>
            <th>Destination</th>
        </tr>
        <tr>
            <td>
                <div id="source-path" class="path-explorer" basepath=""></div>
            </td>
            <td>
                <div id="destination-path" class="path-explorer" basepath=""></div>
            </td>
        </tr>
    </table>
</body>

<script>

    function file_explorer_get(path, ok, error) {
        $.ajax({
            url: '/contents',
            dataType: 'html',
            data: {
                path: path
            },
            success: ok,
            error: error
        })
    }

    function file_explorer_init() {
        $(".path-explorer").each(function(elem) {
            file_explorer_get($(elem).attr("basepath"), function(result) {
                $(elem).html(result);
            }, function(result) {
                $(elem).html("Failed to get contents of {0}: {1}".format([$(elem).attr("basepath"), result]))
            });
        });
    }

    $(document).ready(function() {
        file_explorer_init();
    });

</script>

</html>
